<footer class="footer">
  <small>
    BlitzStatus by
    <a href="http://andreashkoenig.de/">Dr. Andreas H. König</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://andreashkoenig.de/">Blog</a></li>
    </ul>
  </nav>
</footer>